events {}         # event context have to be defined to consider config valid  
  
http {  
 server {
    location / {
      root /usr/share/nginx/html;
      index  index.html index.htm;
      listen 80;
    }
    location /home {
      root /usr/share/nginx/html;
      index  index.html index.htm;
      listen 80;
    }
    location /export {
      root /usr/share/nginx/html;
      index  index.html index.htm;
      listen 80;
    }
  }
}  
