.App {
  text-align: center;
}

.App-background{
  background: #d9e3de;

}
.App-Grid{
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  grid-auto-rows: 200px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-GridItem{
  height: 450px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-container a, a:visited, a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

#sidebar a, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

#sidebar a:visited {
 color: #000000; 
}

.breadcrumbs-container {
  margin-left: 10px;
}

#content-container {
  position: relative;
}

.date-range-picker {
  position: absolute;
}