.map-container {

    height: 525px;

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-marker {
  cursor: pointer;
}

.sidebar {
  background-color: #FFFFFF;
  color: #555555;
   
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 40px;
  border-radius: 4px;
}

.top {
  margin-top: 88px;
  padding: 6px 12px;
}
.bottom {
  margin-top: 490px;
  padding: 0px ;
}
.info {
    width: 200px;
    padding: 10px;
    margin: 10px;

  }